/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.responsive-not-found-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .not-found {
    height: 400px;
  }
  .heading {
    font-size: 25px;
  }
  .paragrah {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .not-found {
    height: 200px;
  }
  .heading {
    font-size: 15px;
  }
  .paragrah {
    font-size: 10px;
    text-align: center;
  }
}
